@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


body {
    background-color:#F5D04E;
    font-family: 'Figtree', sans-serif;
  }

  .card-img-top{
    border-radius: 1.5rem;
  }

  .learnText{
    margin-top: 5%;
    margin-bottom:5%;
    color: black;
    background-color: #F5D04E;
    
  }

  .card{
    margin-top:7%;
    border-color: black;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 0 rgb(0, 0, 0);
    
}

h4:hover{
  color:#F5D04E;
}

.card-title{
margin-top: 5%;
margin-bottom:5%;

}


.card-text{
  color:grey;
  font-size: 15.5px;

}


.gregH{
  width:18%;
 
  
}

.gregName{
  margin-left:5%
}

